footer {
  margin: auto 1.5em 1.5em;

  button {
    appearance: none;
    background: #f44336;
    border-radius: 0.25em;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font: inherit;
    font-weight: 600;
    padding: 1em;
    transition: 0.2s;
    width: 100%;

    &:hover {
      filter: brightness(1.2);
    }

    &:active {
      filter: brightness(0.8);
    }

    &.away {
      background: #51c97f;
      color: #000;
    }
  }
}
